@(visits : List[Visit])

@main("Play Java AWS Elastic Beanstalk Demo") {
  <div class="container-fluid">
    <h1>Play Java AWS Elastic Beanstalk Demo</h1>
    <div class="alert alert-primary">
      Press <strong>F5</strong> to update the Visits Book!
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Id Visit</th>
            <th>IP Address</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          @for(visit <- visits) {
            <tr>
              <td>@visit.getId()</td>
              <td>@visit.getIpAddress()</td>
              <td>@visit.getVisitDate().format("dd MMM yyyy")</td>
              <td>@visit.getVisitDate().format("HH:mm:ss")</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
